flask==2.1.1
gunicorn
aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
numpy
pillow
psutil
py-tgcalls
pykeyboard
pymongo
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto==1.2.2
werkzeug==2.0.3
youtube-search
youtube-search-python
yt-dlp

